@font-face {
    font-family: 'SFPro';
    src: url('/assets/fonts/sf-pro-display-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/sf-pro-display-regular-webfont.woff') format('woff');
    /* Add other font formats if needed */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SFPro', sans-serif;
}

@keyframes slideUp {
  100% {
    transform: translateY(-43vh) scale(0.8);
  }
}

.slide-up {
    position: relative;
    animation-name: slideUp;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.slide-up-final-state {
    position: absolute;
    transform: translateY(-43vh) scale(0.8);
}

#liveUpdates {
    position:relative;
    transform:translate(0px,100px);
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    max-width: 400px;
}

.updateMessage {
    margin-bottom: 10px;
}

#rectangle{
    width:1920px;
    height:25px;
    background:black;
    position: fixed;
    left: 0%;
    top: 0%;
}

#triangle {
  width: 0;
  height: 0;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-bottom: 45px solid #000000; /* Change color as needed */
  transform: rotate(180deg) translate(50%, 50%);
  position: fixed;
  top: 5%;
  left: 50%;
}

.center-nav {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.center {
    position: absolute;
    align-items: center;
}