<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <script src="/assets/static/scripts/script.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@latest"></script>
    <link rel="stylesheet" href="/assets/static/css/styles.css">
    <link rel="stylesheet" href="/assets/static/css/particles.css">
    <link rel="stylesheet" href="/assets/static/scss/style.scss">
    <style>
        html {
            height: 100%;
        }
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
	        background: linear-gradient(#38388e, #7a1912, #207a12, #23d5ab);
            background-size: 400% 400%;

        }

        header {
            color: #ffffff;
            text-align: center;
            padding: 1em 0;
            margin: 50px 0;
        }
</style>

</head>
<body style="font-family: SFPro;">

    <div id="particles" style="z-index:-1"></div>

    <div id="navigation"></div>

    <div id="content" style="white-space:nowrap; display: none; padding: 5px;">
        <h3 style="position:absolute; left:50%; top:40%; transform: translate(-50%, -50%);">Enter your Spotify Playlist URL or ID</h3>
        <div style="position:absolute; left:50%; top:50%; transform: translate(-50%, -50%); opacity:90%">
            <input type="text" id="spotifyID" placeholder="Spotify Playlist ID">
        </div>
        <button style="position:absolute; left:50%; top:55%; transform: translate(-50%, -50%); border-radius: 7px; opacity: 75%; background-color: #000000; color: ghostwhite;" onclick="convert()">
            Convert now!
        </button>
    </div>

    <div id="processedContent">
        <div id="playlistName" style="position:absolute; left:50%; top:50%; transform: translate(-50%, -50%);"></div>
        <div id="liveUpdates" style="position:absolute; left:50%; top:60%; border:none;"></div>
    </div>


    <script>

        $(function(){
          $("#navigation").load("nav.html");
          $("#particles").load("/assets/templates/particles.html");
        });

        var playlistName = null;

        document.addEventListener('DOMContentLoaded', function() {
        // Load HTML file containing the element dynamically
        fetch('nav.html')
            .then(response => response.text())
            .then(html => {
                // Append the HTML content to the DOM
                document.body.insertAdjacentHTML('beforeend', html);
                
                // Access the element with id "1" once it's loaded
                const animatedElement = document.getElementById('animatedElement');
                if (animatedElement) {
                    console.log('animatedElement is ready:', animatedElement);

                    var hiddenElement = document.getElementById('content');

                    function removeAnimationClass() {
                        animatedElement.classList.remove('slide-up');
                        animatedElement.classList.add('slide-up-final-state');
                        animatedElement.removeEventListener('animationend', removeAnimationClass);

                        // Make the hidden element visible
                        hiddenElement.style.display = 'block';
                        const removeLogo = document.getElementById('remove_logo');
                        removeLogo.style.display = 'none';
                    }

                    animatedElement.addEventListener('animationend', removeAnimationClass);
                }
            })
            .catch(error => {
                console.error('Error loading HTML file:', error);
        });
});


        function convert() {
            var spotifyID  = document.getElementById("spotifyID").value;

            if (spotifyID != null) {
                spotifyID = cleanID(spotifyID)

                console.log("Spotify ID:", spotifyID);
                console.log("Cleaned: ", cleanID(spotifyID));

                const eventSource = new EventSource("/api/live/events");

                eventSource.addEventListener("update", function(event) {
                    const liveUpdatesDiv = document.getElementById("liveUpdates");
                    liveUpdatesDiv.innerHTML = "Converting track: " + event.data;
                });

                eventSource.onerror = function(event) {
                    console.error("SSE Error:", event);
                    eventSource.close();
                };

                process(cleanID(spotifyID));
            }
        }

        function cleanID(id) { return id.trim().split('/').slice(-1)[0].split('?si=').slice(0)[0];}

        function listenTrackArtist() {
            document.addEventListener("DOMContentLoaded", function () {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/api/data", true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var responseData = JSON.parse(xhr.responseText);

                        document.getElementById("response").innerHTML = responseData.message;
                    }
                };
                xhr.send();
            });
        }

        function changeBackgroundColor() {
            document.body.classList.add('change-background');
        }
    </script>

</body>
</html>
