<div>
    <div style="z-index:1; position: absolute;  font-family: SFPro;">
        <div id="rectangle"></div>
        <div id="triangle"></div>
        <div class="center-nav">
            <a href="/assets/templates/about" style="position:fixed; left:30%; top:0.8%; text-decoration:none">How To Use</a>
            <a href="/assets/templates/contact" style="position:fixed; left:67%; top:0.8%; text-decoration:none">Contact</a>
        </div>
    </div>

    <a href="/assets/templates/">
        <div class="slide-up" id="animatedElement" style="position:absolute; z-index:2">
            <div id="logo" style="position:absolute; z-index:2; left:50%; top:50%; transform: translate(-50%, -50%);">
                <img id="remove_logo" src="/assets/static/imgs/logo.png" alt="Logo" width="auto" height="100">
            </div>
        </div>
    </a>
</div>